<div id="nav">
	<label><a href="/company/<%= company.permalink %>">Home</a></label></br>
	<label><a href="/company/<%= company.permalink %>/users">Users</a></label></br>
	<!-- <label><a href="/company/<%= company.permalink %>/companies">Companies</a></label></br> -->
	<label><a href="/company/<%= company.permalink %>/jobs">Jobs</a></label></br>
	<label><a href="/company/<%= company.permalink %>/edit_profile">Edit Profile</a></label></br>
</div>
