<div id="nav">
<label><a href="/users/<%= user.permalink %>">Home</a></label></br>
<label><a href="/users/<%= user.permalink %>/users">Users</a></label></br>
<label><a href="/users/<%= user.permalink %>/companies">Companies</a></label></br>
<label><a href="/users/<%= user.permalink %>/jobs">Jobs</a></label></br>
<label><a href="/users/<%= user.permalink %>/careerPath">Career Path</a></label></br>
<label><a href="/users/<%= user.permalink %>/edit_profile">Edit Profile</a></label></br>
</div>
